.hide {
  display: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;

  & .battle-board {
    background: white;
    height: 780px;
    width: 1500px;
    border-radius: 5%;
    border: 3px solid;

    display: flex;

    & .player-trainer {
      border-radius: 5%;
      border: 3px solid;
      height: 75%;
      width: 500px;
    }

    & .battle-info-box {
      border: 3px solid;
      height: 75%;
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .player-pool {
        border: 3px solid;
        height: 300px;
        width: 300px;

        display: grid;
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: repeat(5, 60px);

        & img {
          height: 50px;
          width: 50px;
        }
      }

      & .player-pool-hide {
        display: none;
      }

      & .buttons-box {
        background: white;
      }
    }

    & .enemy-trainer {
      border: 3px solid;
      height: 75%;
      width: 500px;
    }
  }
}
